---
import Card from '../components/Card/Card';
import Divider from '../components/Divider.astro';
import Menu from '../components/menu/Menu.astro';
import MenuMobile from '../components/menu/MenuMobile.astro';
import Layout from '../layouts/Layout.astro';

interface productsFeatures {
  id: number;
  prod_id: number;
  new_product: string;
  featured: string;
  best_sellers: string;
  trend: string;
  price: number;
  available_quantity: number;
  title: string;
  thumbnail: string;
  seller_custom_field: string;
}

const data = await fetch(`${import.meta.env.VITE_BACKEND_API}/productsweb`);
const products = await data.json();

const newProducts = products.filter(
  (prod: productsFeatures) => prod.new_product === '1'
);

const bestSellers = products.filter(
  (prod: productsFeatures) => prod.best_sellers === '1'
);

const featured = products.filter(
  (prod: productsFeatures) => prod.featured === '1'
);

const trend = products.filter((prod: productsFeatures) => prod.trend === '1');
---

<Layout>
  <MenuMobile />
  <div
    class="w-full h-60 sm:h-[400px] lg:h-[500px] bg-[url('/images/hero_1024_640_opt.jpg')] bg-black/[.03] bg-blend-soft-light bg-cover bg-center md:bg-[center_bottom_20%]"
  >
    <div class="pr-12 pl-[40%] py-8 sm:py-20 lg:py-36 text-center">
      <h1 class="text-white">Labranzas</h1>
      <h3 class="text-white py-2 sm:py-10">Insumos para eventos</h3>
      <h3 class="text-white">Decoración para el hogar</h3>
    </div>
  </div>
  <Menu />

  <h1 class="mt-16 text-2xl font-semibold text-center text-gray-900">
    Labranzas Tienda Online
  </h1>

  <h2 class="pt-2 text-xl text-center text-gray-900">
    Decoración para el hogar e insumos para eventos
  </h2>

  {
    newProducts.length > 0 && (
      <section class="py-16">
        <Divider text="Últimas publicaciones" />

        <div class="text-center p-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-2 gap-y-16 place-items-center">
          {newProducts.map((product: productsFeatures) => (
            <Card product={product} client:load />
          ))}
        </div>
      </section>
    )
  }

  <section class="py-16 bg-white">
    <article
      class="w-3/4 flex flex-col gap-6 items-center justify-center mx-auto"
    >
      <h2 class="text-xl font-medium">Decoración para el hogar</h2>
      <p>
        Cumpleaños de 15, casamientos, eventos empresariales, regalos fin de
        año, etc. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Magnam facilis assumenda, dolores quo atque iusto sapiente ullam itaque
        nam ducimus dicta suscipit delectus dignissimos eos quas alias,
        consequuntur et a.
      </p>
      <ul>
        <li>Centros de mesa</li>
        <li>Souvenirs</li>
        <li>Caminos de mesa</li>
        <li>Decoración del salón</li>
      </ul>
      <button
        class="py-2 px-20 border-2 bg-white hover:bg-purple-200 border-purple-600 text-purple-600 transition ease-in-out delay-150"
        >Ver productos</button
      >
    </article>
  </section>

  {
    bestSellers.length > 0 && (
      <section class="py-16">
        <Divider text="Más vendidos" />

        <div class="text-center p-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-2 gap-y-16 place-items-center">
          {bestSellers.map((product: productsFeatures) => (
            <Card product={product} client:load />
          ))}
        </div>
      </section>
    )
  }
  <section class="py-16 bg-white">
    <article
      class="w-3/4 flex flex-col gap-6 items-center justify-center mx-auto"
    >
      <h2 class="text-xl font-medium">Insumos para eventos</h2>
      <p>
        Cumpleaños de 15, casamientos, eventos empresariales, regalos fin de
        año, etc. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Magnam facilis assumenda, dolores quo atque iusto sapiente ullam itaque
        nam ducimus dicta suscipit delectus dignissimos eos quas alias,
        consequuntur et a.
      </p>
      <ul>
        <li>Centros de mesa</li>
        <li>Souvenirs</li>
        <li>Caminos de mesa</li>
        <li>Decoración del salón</li>
      </ul>
      <button
        class="py-2 px-20 border-2 bg-white hover:bg-purple-200 border-purple-600 text-purple-600 transition ease-in-out delay-150"
        >Ver productos</button
      >
    </article>
  </section>

  {
    featured.length > 0 && (
      <section class="py-16">
        <Divider text="Destacados" />
        <div class="text-center p-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-2 gap-y-16 place-items-center">
          {featured.map((product: productsFeatures) => (
            <Card product={product} client:load />
          ))}
        </div>
      </section>
    )
  }

  {
    trend.length > 0 && (
      <section class="py-16">
        <Divider text="Tendencia" />
        <div class="text-center p-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-2 gap-y-16 place-items-center">
          {trend.map((product: productsFeatures) => (
            <Card client:load product={product} />
          ))}
        </div>
      </section>
    )
  }
</Layout>
